<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form [formGroup]="search" class="d-flex" role="search" style="position: relative;left: 600px;">
              <input formControlName="film" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button (click)="moviesearch()" class="btn btn-primary" type="submit">Search</button>
            </form>
          </div>
<div class="row">


            <div class="card h-100 col-lg-6">
               
                <img style="height: 400px;" class="card-img-top" src={{mdata.Poster}} alt="..." />
</div>
                <div *ngIf="check" class="card-body p-4 col-lg-6" >
                    <div class="text-center">
                        
                        <h1 class="fw-bolder">{{mdata.title}}</h1>
                        <h5><b>:</b>ACTORS:{{mdata.actors}}</h5>
                        <h5><b>:</b>RELEASING DATE:{{mdata.date}}</h5>
                        <h5><b>:</b>RATING:{{mdata.rating}}</h5>
                        <h5><b>:</b>{{mdata.plot}}</h5>

                        
                    </div>
                </div>
                
            </div>
        </div>
       


    </div>


